<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.free.decision.server.mapper.UserMapper">

    <sql id="Base_Column_List">
      a.id,a.name,a.phone,a.type,a.id_number as idNumber,a.create_time as createTime,a.result_type as resultType,`status`
    </sql>

    <select id="getUserPageData" resultType="com.free.decision.server.model.vo.UserInfoParamsVO">
        select
        <include refid="Base_Column_List"/>
        from decision_record a
        <if test="code != null and code != ''">
            INNER JOIN decision_hit_record b on b.decision_report_id = a.id
        </if>
        where a.company_id = #{companyId} and a.status =2
        <if test="name != null and name != ''">
            and a.name like concat('%', #{name}, '%')
        </if>
        <if test="idNumber != null and idNumber != ''">
            and a.id_number like concat('%', #{idNumber}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and a.phone like concat('%', #{phone}, '%')
        </if>
        <if test="resultType != null and resultType != ''">
            and a.result_type = #{resultType}
        </if>
        <if test="createTimeStart != null and createTimeStart != ''">
            and DATE_FORMAT(a.create_time, '%Y-%m-%d %H:%i:%S') >= #{createTimeStart}
        </if>
        <if test="createTimeEnd != null and createTimeEnd != ''">
            and DATE_FORMAT(a.create_time, '%Y-%m-%d %H:%i:%S') &lt;= #{createTimeEnd}
        </if>
        <if test="code != null and code != ''">
            and b.code = #{code} GROUP BY a.id
        </if>
        order by a.id desc
    </select>

    <select id="loadUserIdByMobileAndIdNumber" resultType="java.lang.Long">
        select id from decision_user where company_id = #{companyId} and mobile = #{mobile} and id_number=#{idNumber}
    </select>

    <select id="loadRecodCode" resultType="com.free.decision.server.model.vo.DecisionRecordCodeVO">
       select code from decision_hit_record where decision_report_id = #{decisionReportId}
    </select>

    <insert id="insertIdByMobileAndIdNumber" useGeneratedKeys="true" keyProperty="id">
        insert into decision_user(company_id, mobile, id_number,name,create_time,province)
        values (#{companyId},#{mobile},#{idNumber},#{name},now(),#{province})
  </insert>

    <select id="getUserInfoById" parameterType="java.lang.Long" resultType="com.free.decision.server.model.vo.UserVO">
        select t1.id as id, t1.name as name, t1.company_id as companyid, t1.mobile as mobile,
        t1.id_number as idnumber, t1.province as province, t1.create_time as create_time, t1.update_time as updatetime
        from decision_user as t1 where t1.id = #{id} limit 1
    </select>

</mapper>